<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Charity -->
    <virtualType name="MageWorx\Donations\Ui\DataProvider\Charity\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="class" xsi:type="string">MageWorx\Donations\Ui\DataProvider\Charity\Form\Modifier\General</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MageWorx\Donations\Ui\DataProvider\Charity\Form\CharityDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">MageWorx\Donations\Ui\DataProvider\Charity\Form\Modifier\Pool</argument>
        </arguments>
    </type>
</config>