<?xml version="1.0"?>
<!-- 
/**
 * Narvar Connect Configuration Default Values
 *
 * @category    Narvar
 * @package     Narvar_Connect
 * @version     0.1.1
 * @author      premkumarsankar premkumar.sankar@aspiresys.com
 * @copyright   Copyright (c) 2012-2017 Narvar Inc
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <narvar_connect>
            <account>
                <narvar_api_endpoint>https://ws.narvar.qa/api/v1/</narvar_api_endpoint>
                <narvar_acc_id>a75bc80c4d1646068481c32825d27cd4</narvar_acc_id>
                <narvar_auth_token>c53452373dd344b8b8ff9c95af810e44</narvar_auth_token>
            </account>
            <general>
                <enable>0</enable>
            </general>
           	<status_map>
				<fulfilled>FULFILLED</fulfilled>
				<not_shipped>NOT_SHIPPED</not_shipped>
				<shipped>SHIPPED</shipped>
				<cancelled>CANCELLED</cancelled>
				<returned>RETURNED</returned>
				<partial>PARTIAL</partial>
				<ordered>ORDERED</ordered>
			</status_map>			
			<carriers>
				<ups>UPS</ups>
				<fedex>FEDEX</fedex>
				<usps>USPS</usps>
			</carriers>
            <return>
                <reason>other</reason>
            </return>
        </narvar_connect>
    </default>
</config>